.button {
    background-color: black; 
    border: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 40px;
    left: 0%;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    
    
  }

  
  .button:hover {
    background-color: black;
    color: white;
  }

  .buttonClickHere{
    left: 30%;
  }
  
  .addBtn{
    background-color: black;
    color: white;

    display: inline-block;
    font-size: 32px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid black;
    width: 180px;
    height: 40px;
    left: 0%;
    color: black;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .addBtn:hover {
    background-color: black;
    color: white;
  }



  .changeMoodBtn:hover {
    background-color: black;
    color: white;
  }

  .divider{
    width:8px;
    height:auto;
    display:inline-block;
}

.signInsignUp{
  color: white;

  display: inline-block;
  font-size: 20px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid black;
  width: 140px;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
}

.signInsignUp:hover {
  background-color: black;
  color: white;
}


.signInsignUp:disabled{
  background-color: rgb(182, 178, 178);
  color: rgb(0, 0, 0);
}

.Logout{
  font-size: 13px;
  border: 2px solid black;
  margin: -10px 87%;
  transition-duration: 0.4s;
  width: 80px;
  height: 25px;
  font-weight: bold;
  border-radius: 5px;

}

.Logout:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.withGoogle{
  outline: none;
  color: #DB4437;
  display: inline-block;
  font-size: 15px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  border: 2px solid #4285F4;
  width: 240px;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}
.withGoogle:hover{
  color: #0F9D58;
}

img{
  display: block;
  height:25px;
  margin:0 0px -20.5px;
}

.withFacebook{
  outline: none;
  color: #39569c;
  display: inline-block;
  font-size: 15px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  border: 2px solid #39569c;
  width: 240px;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}
.withFacebook:hover{
  color: #4285F4;
}